*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignorar bases de datos de SQLite
*.db
*.sqlite
*.sqlite3
redcicla_central.db

# Ignorar archivos temporales y caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar entornos virtuales (si llegan a usar uno)
venv/
env/
.env